<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP_Budget.Common.Properties.Settings.Erp_BudgetConnectionString" connectionString="Data Source=mis;Initial Catalog=Erp_Budget;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
